github "Ramotion/folding-cell"
github "nakiostudio/EasyPeasy"
github "xmartlabs/XLPagerTabStrip" ~> 8.1
github "adamwaite/Validator"
github "airbnb/lottie-ios" "master"
github "danielgindi/Charts" ~> 3.2.2
github "Alamofire/Alamofire" "4.8.1"
github "Orderella/PopupDialog" ~> 0.9
github "SwiftyJSON/SwiftyJSON" ~> 4.0
github "younatics/ExpandableCell"
github "mmick66/CalendarView" "master"